

body{
    font-family: 'Roboto Condensed';
}




.firstline{ 
    max-width: 1340px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
   text-decoration: none;

}


.firstline_li{
    display: flex;
    margin-right: 30px;

}



.headerbox{
    display: flex;
    align-items: center;
}

.nav_ul{
    display: flex;
    justify-content: center;
    max-width: 1400px;
    width: 100%;
    background-color: silver;
    height: 74.5px;
    
    
}

.nav_li{
    display: flex;
    align-items: center;
    margin-left: 30px;
    

}

a{
    text-decoration: none;
    color: black;
}



.img1{
    max-width: 1440px;
    width: 100%;
    height: 450px;

}


.section2{
    max-width: 1440px;
    width: 100%;
    
    background: #8F0133;
}

table,td{
    border: 2px solid black;
    border-collapse: collapse;
    
    margin: 0 auto;
    padding: 25px;
   
}

.video{
    margin-left: 117px;
    padding: 30px;
}

.girl{
display: block;
max-width: 1440px;
width: 100%;
height: 450px;

}

.table1{
    width: 60%;
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    


}


.table2{
    width: 60%;
    margin: 30px;
    margin: 0 auto;


}

.table3{
    width: 60%;
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
margin: 0 auto;


}

#bold{
    size: 150px;
    font-weight: 800px;
}

body{
    overflow-x: hidden;
}