.header_box{
        
    display: flex;}

body{
    font-family: 'Roboto Condensed';
}



.header_box5{
    width: 88px;
    height: 31px;
    margin-left: 60px;
    



}

.header_box1{
    margin-left: 948px;
    margin-top: 13px;
    width: 250px;
    height: 21px;
    font-family: 'Roboto Condensed';
    

}

.header_box2{
    width: 62px;
    height: 21px;
    margin-left: 13px;
    margin-top: 13px;
    font-family: 'Roboto Condensed';
    

}

.header_box3{
    width: 20px;
    height: 21px;
    margin-top: 13px;
    margin-left: 30px;
    font-family: 'Roboto Condensed';
    

}

.header_box4{
    width: 20px;
    height: 21px;
    margin-top: 13px;
    margin-left: 30px;
    font-family: 'Roboto Condensed';

}


.nav_ul{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;
    width: 1440px;
    height: 74.5px;
    left: 222px;
    
}

.nav_li{
    display: flex;
    text-decoration: none;
    margin-left: 60px;

}

a{
    text-decoration: none;
    color: black;
}



.img1{
    width: 1440px;
    height: 450px;

}


.section2{
    width: 1440px;
    
    background: #8F0133;
}

table,td{
    border: 2px solid black;
    border-collapse: collapse;
    
    margin: 0 auto;
    padding: 25px;
   
}

.video{
    margin-left: 117px;
    padding: 30px;
}

.girl{
display: block;
width: 1440px;
height: 450px;

}

.table1{
    width: 60%;
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    


}


.table2{
    width: 60%;
    margin: 30px;
    margin: 0 auto;


}

.table3{
    width: 60%;
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
margin: 0 auto;


}

#bold{
    size: 150px;
    font-weight: 800px;
}